<form action="uphinh" method="post" enctype="multipart/form-data">
    <input type="file" name="hinh" />
    <input type="submit" value="click" />
</form>

<form action="uphinhm" method="post" enctype="multipart/form-data">
    <input type="file" name="hinhm" multiple />
    <input type="submit" value="click" />
</form>